<html>

    <head>
        
        <title> Carbon Footprint Calculator </title>
    
    </head>    

    <body>
        
        <h1> Carbon Footprint Calculator </h1>

        <form action = "{% url 'register' %}" method = "POST">
            {%csrf_token%}

            {{ form.as_p }}

            <button type = "submit"> Register me! </button>
          
        </form>

        <form action = "trying_it_out" method = "POST">
            {%csrf_token%}
            
            <input type = "radio" id = "survey_choice" name = "survey_choice" value = "Yes">
            <label for = "Survey_Choice"> I would like to participate in a quick survey! </label> <br><br>
        
        </form>

    </body>

</html>